matplotlib
nuscenes-devkit
numpy
pandas
scipy
seaborn
tensorboard
tensorboardX
tensorflow
tensorflow-estimator
torch
pyquaternion
pytest
orjson
ncls
dill
tqdm
notebook
scikit-learn
opencv-python
transform3d
vit-pytorch
